<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <label for="" class="form-label">complaint</label>
            <textarea name="compalaint" [(ngModel)]="compalaint" ></textarea>
            </div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
       <button class="btn btn-success" (click)="readvalue()">submit</button>
            </div>
        </div>
    </div>
